<ul class="thb-full-menu uppercase-{{ settings.menu_uppercase }}" role="menubar">
  {% for link in header_menu.links %}
	  {% assign has_sub_menu = false %}
	  {% if link.links.size > 0 %}
	    {% assign has_sub_menu = true %}
		{% endif %}
	  <li class="{% if has_sub_menu %}menu-item-has-children{% endif %}{% if link.active %} active{% endif %}">
	    <a href="{{ link.url }}" title="{{ link.title | escape }}"{%- if link.active %} aria-current="page"{% endif -%}>{{ link.title }}</a>
	    {% if has_sub_menu %}
		    <ul class="sub-menu" tabindex="-1">
	        {% for l in link.links %}
						{% assign has_sub_menu = false %}
					  {% if l.links.size > 0 %}
					    {% assign has_sub_menu = true %}
						{% endif %}
		        <li class="{% if has_sub_menu %}menu-item-has-children{% endif %}{% if l.active %} active{% endif %}" role="none">
		          <a href="{{ l.url }}" title="{{ l.title | escape }}" role="menuitem">{{ l.title }}</a>
							{% if has_sub_menu %}
								<ul class="sub-menu" role="menu">
									{% for sub_link in l.links %}
										{% assign has_sub_menu = false %}
										{% if sub_link.links.size > 0 %}
											{% assign has_sub_menu = true %}
										{% endif %}
										<li class="{% if has_sub_menu %}menu-item-has-children{% endif %}{% if sub_link.active %} active{% endif %}" role="none">
											<a href="{{ sub_link.url }}" title="{{ sub_link.title | escape }}" role="menuitem">{{ sub_link.title }}</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
		        </li>
					{% endfor %}
		    </ul>
	    {% endif %}
	  </li>
  {% endfor %}
</ul>
