<section id="section-1">
      
      <div class="set flex">
        <div class="col">
          <h1>
            Introducing the<br />
            <span>
              Freedom<br />
              Turbo XL
            </span>
          </h1>
          <h2 style="font-weight: bold;">Experience the Freedom for Yourself.</h2>
          
          <div class="post">
            <a href="/products/schok-freedom-turbo-xl-1" class="order-now button">Order Now</a>
          </div>
          
          <h2 style="font-weight: bold; margin-top: 30px; font-size: 2em;">The first 1,000 units sold will come with a free, ultimate accessories bundle! Click "Order Now" for more details!</h2>
        </div>
        <div class="col" data-aos="fade-up" data-aos-duration="3000">
            <img src="{{ 'freedom-turbo-phone-xl.png' | asset_url }}" class="featured" alt="front and side of Schok Freedom Turbo XL" data-aos="fade-left" data-aos-duration="3000">
        </div>
      </div>
    </section>

    <section id="section-2">
      <img src="{{ 'Schok_Blue_Phone.png' | asset_url }}" class="featured" alt="Back of blue Schok Freedom Turbo XL" data-aos="fade-right" data-aos-duration="3000">
      <div id="features" class="container">
        <div class="set flex">
          <div class="col"></div>
          <div class="col">
            
              <div class="post">
                <h2>Unlimited Potential.</h2>
              </div>
            
            <span class="additional">In addition to a 1-year warranty, the Freedom Turbo XL comes with:</span>
            <div class="flex">
              <div class="col">
              <ul>
                <li>6.53” full high-definition plus display (1080x2248 FHD+)</li>
                <li>Glass front and back for a high-quality look and feel</li>
                <li>Patented AI 48MP + 16MP Wide + 2MP Macro camera module surrounded by an RGB notification light </li>
                <li>Finely tuned 24MP front camera </li>
                <li>11nm Octa-Core Qualcomm® Snapdragon™ 665 Mobile platform</li>
                <li>Third-generation Qualcomm® AI engine</li>
                <li>Custom game code and engine optimizations</li>
                <li>Faster storage and running memory than the competition</li>
                <li>Mood control feature with a customizable RGB halo color effect</li>
                <li>4,000mAh battery</li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li>Sonarworks© industry-leading sound personalization technology, SoundID</li>
                <li>Netflix certified</li>
                <li>Fast charging</li>
                <li>Wireless charging</li>
                <li>Android 10</li>
                <li>NFC</li>
                <li>Infrared blaster</li>
                <li>TV-OUT functionality</li>
                <li>Advanced AI diagnostic software (MySchok)</li>
                <li>Unlocked with AT&T, T-Mobile, Cricket, TRACFONE, Net10, Simple Mobile, and H2O Wireless carriers</li>
                <li>Warranty Valid Inside the U.S. Only</li>
                </ul>
              </div>
            </div>
              <div class="post">
              <a href="/products/schok-freedom-turbo-xl-1" class="order-now button">Order Now</a>
            </div>
            
            </div>
          </div>
        </div>
    </section>

    <section id="section-3">
      <div id="sonarworks">
        <div class="left-side">
          <h2>Maximize your Schok freedom turbo XL listening experience”</h2>
          <img src="{{ 'sonarworks-setup-phone.png' | asset_url }}" class="sonarworks-setup" alt="sonarworks setup" data-aos="fade-right" data-aos-duration="3000">
          <div class="brands">
            <img src="{{ 'schok-classic-logo-white.png' | asset_url }}" class="schok-logo" alt="schok classic logo white" data-aos="fade-right" data-aos-duration="3000">
            <img src="{{ 'soundID-logo.png' | asset_url }}" class="soundid" alt="Sound ID" data-aos="fade-right" data-aos-duration="3000">
          </div>
        </div>

        <div class="right-side">
          <h2>Experience personalized audio with a free SoundID app</h2>
          <video controls id="video-soundID" width="100%" poster="{{ 'soundID-poster.jpg' | asset_url }}">
            <source src="https://cdn.shopify.com/videos/c/o/v/9eab6212054b4d8583b2531e80c89d34.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="column-set">
            <div class="column-1">
              <div class="item first">
                <h3>Sound Perfected for you</h3>
                <p>Tailor sound to match your personal taste and make fine-tuned adjustments for your hearing with a quick in-app test. Test creates your personal sound profile that is as unique as your fingerprint</p>
              </div>
              <div class="item second">
                <h3>Personalization done right</h3>
                <p>The only personalized sound technology that's based on sound that artists heard in the studio.</p>
              </div>
            </div>
            <div class="column-2">
              <div class="item third">
                <h3>Tech endorsed by Pros</h3>
                <p>The industry-leading tech used to record your favorite artists like Lady Gaga, Kanye West, Madonna, Rihanna, The Killers, Adele, Coldplay and more in over 70,000 pro recording studios.</p>
              </div>
              <div class="item fourth">
                <h3>Patented data-driven tech</h3>
                <p>Based on the largest research conducted on consumer sound preference.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-5">
    <div class="blue-bg" ></div>
      <div class="set">
        <div class='section-title'>
          <h2>Compatible With These Networks and MVNOs</h2>
        </div>
        <div class="box-items">
          <div class="item">
            <img src="{{ 'tmobile.png' | asset_url }}" alt="T-mobile logo" data-aos="fade-right" data-aos-duration="3000">
          </div>
          <div class="item">
            <img src="{{ 'ATT.png' | asset_url }}" alt="ATT logo" data-aos="fade-right" data-aos-duration="3000">
          </div>
          <div class="item">
            <img src="{{ 'layer1.png' | asset_url }}" alt="Cricket logo" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'Simple.png' | asset_url }}" alt="Simple logo" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'Gophone.png' | asset_url }}" alt="Gophone logo" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'Net10.png' | asset_url }}" alt="Net10 logo" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'Tracfone.png' | asset_url }}" alt="Tracfone logo" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'Group_87.png' | asset_url }}" alt="H20 Wireless logo" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <!-- <div class="item">
            <img src="assets/images/content/home/logos/newegg.png" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="assets/images/content/home/logos/woc.png" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div> -->
        </div>
      </div>
    </section>
    <script src="{{ 'aos.js' | asset_url }}"></script>
    <script>
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 120, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 600, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
      });
    </script>
    <script type="text/javascript">
      $('.order-now').click(function() {
        fbq('trackCustom', 'BuyNowClick');
      });
    </script>