<section id="section-1">
      <div class="set flex">
        <div class="col">
          <h1>Connect Turbo<br />Hotspot</h1>
          <h2>Private Mobility Everywhere</h2>
          <a href="/collections/devices/products/schok-connect-turbo-hotspot" class="button">Order Now</a>
        </div>
        <div class="col image">
          <img src="{{ 'connect-turbo-tilted.png' | asset_url }}" alt="Schok Classic front angled" class="featured" data-aos="fade-up" data-aos-duration="3000">
        </div>

      </div>
    </section>

    <section id="section-2">
      <div class="flex">
        <div class="col first">
          <img src="{{ 'connect-turbo-front-back.png' | asset_url }}" alt="Schok Classic front" class="featured">
          <img src="{{ 'connect-turbo-logo.png' | asset_url }}" alt="Schok Connect Turbo logo" class="connect-turbo-logo">
          <p>Thanks to a powerful CAT 12 modem and four carrier aggregation configuration, the <strong>Connect Turbo is faster than most of the mobile hotspots in its class.</strong></p>
          <a href="/collections/devices/products/schok-connect-turbo-hotspot" class="button">Get the Connect Turbo Now</a>
        </div>
        <div class="col second" data-aos="fade-up" data-aos-duration="3000">
          <h2>Quick & Convenient Connectivity, Anywhere</h2>
          <h3>The most aggressively priced mobile hotspot on the market</h3>
          <p>The Schok Connect Turbo Hotspot is ready to <strong>connect you with the world</strong>. Take it everywhere as part of your on-the-go lifestyle.</p>
          <p>Use it on business trips, to keep the kids entertained on long car trips, to stream high-definition movies, for video conference calls, and more.</p>
          <div class="feature-logo-set">
            <div>
              <img src="{{ 'usb-c-easy-charge.png' | asset_url }}" alt="USB C easy charge" class="feature-logo">
            </div>
            <div>
              <img src="{{ '4g-lte-fast-connection.png' | asset_url }}" alt="4g LTE fast connection" class="feature-logo">
            </div>
          </div>
        </div>
      </div>
    </section>



    <section id="section-4">
      <div class="set flex">
        <div class="col first">
          <h2>What’s Included</h2>
          <p>The Schok <strong>Connect Turbo</strong> comes with the following accessories:</p>
        </div>
        <div class="col second">
        <div class="box-items">
            <div class="item">
              <img src="{{ 'icon-hot-spot.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" class="feature-logo" data-aos="zoom-in" data-aos-duration="500">
              Schok Turbo Connect<br />
              Hotspot
            </div>
            <div class="item">
              <img src="{{ 'icon-extra-long-usb-type-c.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" class="feature-logo" data-aos="zoom-in" data-aos-duration="500">
              Premium Extra Long<br />
              USB Type-C™ Cable
            </div>
            <div class="item">
              <img src="{{ 'icon-warranty.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" class="feature-logo" data-aos="zoom-in" data-aos-duration="500">
              One Year Warranty<br />
              (opt ext-warranty)
            </div>
            <div class="item">
              <img src="{{ 'icon-wall-charger.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" class="feature-logo" data-aos="zoom-in" data-aos-duration="500">
              Wall<br />
              Charger
            </div>
            <div class="item">
              <img src="{{ 'icon-user-manual.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" class="feature-logo" data-aos="zoom-in" data-aos-duration="500">
              Quick<br />
              User Manual
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-7">
      <div class="set flex">
        <div class="col first">
          <h2>Schok Connect Turbo is <span class="blue"><strong>Faster</strong></span> than Other Hotspots</h2>
          <ul>
            <li>Super-fast, 4G LTE Cat 12, 4CA mobile hotspot</li>
            <li>Four carrier aggregation merging three wireless bands for faster download speeds*</li>
            <li>1.44” QQVGA 128 x 128 front display</li>
            <li>Big 4,000mAh rechargeable, removable lithium battery</li>
            <li>Advanced network configuration via a web browser user interface</li>
            <li>Watch full high-definition streaming or enjoy long video conferences*</li>
            <li>USB Type-C™ connector for easier charging</li>
            <li>Compatible ONLY with the Verizon network*</li>
            <li>UNLOCKED. No need to sign a long-term contract</li>
            <li>Compatible with any activated Verizon SIM card (Prepaid or Postpaid)</li>
            <li>Nano-SIM card slot</li>
          </ul>
        </div>
        <div class="col second">
          <div class="feature-set" data-aos="zoom-in" data-aos-duration="1000">
            <div class="item">
              <div class="text">Full 4G LTE Support</div>
              <div class="text">Yes</div>
            </div>
            <div class="item">
              <div class="text">Modem</div>
              <div class="text">GCT GDM7243A</div>
            </div>
            <div class="item">
              <div class="text">Modem type</div>
              <div class="text">True Cat 12</div>
            </div>
            <div class="item">
              <div class="text">Carrier Aggregation</div>
              <div class="text">4CA</div>
            </div>
            <div class="item">
              <div class="text">Cellular Antennas</div>
              <div class="text">4 (4x4 MIMO)</div>
            </div>
            <div class="item">
              <div class="text">Battery size</div>
              <div class="text">4,000mAh</div>
            </div>
            <div class="item">
              <div class="text">USB Type</div>
              <div class="text">Type-CTM</div>
            </div>
            <div class="item">
              <div class="text">WiFi</div>
              <div class="text">b/g/n/ac</div>
            </div>
            <div class="item">
              <div class="text">Dual-Band WiFi</div>
              <div class="text">2.4 and 5GHz</div>
            </div>
            <div class="item">
              <div class="text">WiFi Antennas</div>
              <div class="text">2 (2x2 MIMO)</div>
            </div>
            <div class="item">
              <div class="text">SIM Card Slot</div>
              <div class="text">1 Slot (Nano - 4FF)</div>
            </div>
            <div class="item">
              <div class="text">Display</div>
              <div class="text">1.44” QQVGA 128 x 128</div>
            </div>
            <div class="item">
              <div class="text">Bands LTE</div>
              <div class="text">2, 4, 5, 13, 66</div>
            </div>
            <div class="item">
              <div class="text">Compatible only with</div>
              <div class="text">Verizon & its MVNO’s</div>
            </div>
            <div class="item">
              <div class="text">Dimensions</div>
              <div class="text">38.58 x 27 x 7.87</div>
            </div>
            <div class="item">
              <div class="text">Weight</div>
              <div class="text">5.00oz</div>
            </div>
          </div>
          <div class="details">
            <p>*Four carrier aggregation (4CA) and download and upload speeds are dependent on many factors, such as network capacity, terrain, proximity to buildings, foliage, and weather.</p>
            <p>*Nano SIM Card <strong>not</strong> included</p>
            <p>*The Schok ConnectTurbo HotSpot is <strong>only compatible</strong> with the Verizon variants of the MVNOs shown below</p>
          </div>
        </div>
      </div>
    </section>

    <section id="section-5">
      <div class="set">

        <div class='section-logo'>
          <h2>Connected by</h2>
          <div class='verizon-logo'>
            <img src="{{ 'verizon.png' | asset_url }}" alt="Verizon logo">
          </div>
          <h2>& Compatible MVNOs</h2>

        </div>

        <div class="box-items">
          <div class="item">
            <img src="{{ 'login-tracfone.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'logo-usmobile.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'logo-twigby.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'logo-total-wireless.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'logo-ting.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'logo-straighttalk.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'logo-reachmobile.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'logo-net10wireless.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'logo-wireless.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'logo-credomobile.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'logo-spectrummobile.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'logo-redpocket.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
          <div class="item">
            <img src="{{ 'logo-visible.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
          </div>
        </div>
      </div>
    </section>
    <script src="{{ 'aos.js' | asset_url }}"></script>
    <script>
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 120, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 600, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
      });
    </script>