<div class="subpage">
  <section id="section-hero">
    <div class="photo" style="background-color: #A5CDFE;">
       <img src="{{ 'About-hero-transparent-2.png' | asset_url }}" style="position: relative; z-index: 100;"/>
       <div class="star"></div>
    </div>
  </section>
<div class="lock-container">
<div class="lock-width">
  <section id="section-boxes" class="section-boxes about-section-boxes">
    <div class="box box-image" data-aos="fade-right" data-aos-duration="3000" >
     <img src="{{ 'who-is-schok.jpg' | asset_url }}"/>
     <img id="spin" src="{{ 'inovation.png' | asset_url }}" alt="The Schoking Truth" class="the-schoking-truth spin">
     <img id="spin2" src="{{ 'innovation-alt.png' | asset_url }}" alt="The Schoking Truth" class="the-schoking-truth">
    </div>
    <div class="box v2">
      <h2 class="about-first-tile"><span style="font-weight: 400;">Who is</span> Schok?</h2>
      <p class='paragraph-spacing'>Schok is an American company that began its commercial activities in <span style="font-weight: bold;">2018</span>.</p>
      <p>We are revolutionizing the entry and mid-segment smartphone market by delivering <span style="font-weight: bold;">best-in-class devices</span> with proprietary AI software and services that improve our consumers’ lives.</p>
    </div>
  </section>


  <section id="section-boxes" class="section-boxes about-section-boxes about-section-boxes-v2 reverse">
    <div class="box v3 padding">
    <div class="gradient-divider gradient-animation-about-first"></div>
      <h2>Who owns Schok?</h2>
      <p>Schok is a private company owned by partners who share a passion for technology and the mission to close the acquisition price gap for premium devices.</p>
    </div>
    <div class="box box-image" data-aos="fade-left" data-aos-duration="3000" >
     <img src="{{ 'Schok_Group.jpg' | asset_url }}"/>
    </div>
  </section>
  <section id="section-boxes" class="section-boxes about-section-boxes about-section-boxes-v2">
    <div class="box box-image" data-aos="fade-right" data-aos-duration="3000" >
      <img src="{{ 'about3.jpg' | asset_url }}"/>
    </div>
    <div class="box v3 padding">
    <div class="gradient-divider gradient-animation-about-second"></div>
      <h2>Where is Schok based?</h2>
      <p>Schok is an American company incorporated in Delaware, USA. Its headquarters are based in Frisco, Texas, 10 miles north of the city of Dallas.</p>
    </div>
  </section>
  
  <section id="section-values">
    <div class="section-title">
      <h2>Our Core Values</h2>
    </div>
    <div class="set flex">
      <div class="col box first" data-aos="fade-up" data-aos-duration="3000">
        <img src="{{ 'ethical.png' | asset_url }}" alt="ethical icon" class="author-image">
        <h2 class='value-tile'>Ethical Practices</h2>
        <p>At Schok, we believe conducting business with <span style="font-weight: bold;">integrity</span>, having an unwavering commitment to ethics and privacy, and functioning as good corporate citizens will lead to a more robust company, superior customer satisfaction, and products that will be loved by millions.</p>
      </div>
      <div class="col box second" data-aos="fade-up" data-aos-duration="3000">
        <img src="{{ 'global.png' | asset_url }}" alt="Schok Freedom Turbo" class="author-image">
        <h2 class='value-tile'>Global Diversity</h2>
        <p>Globalization demands the <span style="font-weight: bold;">inclusion and collaboration of diverse cultures</span>. At Schok, we see inclusion as a way to connect diverse perspectives that sparks new ideas, explores new possibilities, and taps into the power of our local and global partners, resulting in stronger relationships and better products.</p>
      </div>
      <div class="col box third" data-aos="fade-up" data-aos-duration="3000">
        <img src="{{ 'env.png' | asset_url }}" alt="Schok Freedom Turbo" class="author-image">
        <h2 class='value-tile'>Environmental Sustainability</h2>
        <p>We have intentionally chosen to work with global partners who share our commitment to <span style="font-weight: bold;">creating reliable devices with minimal carbon emissions</span>. Additionally, we commit to maintaining R2 certification guidelines to verify safe downstream recycling of our products.</p>
      </div>
    </div>
  </section>

  <section id="section-team">
  {{ 'accordion.css' | asset_url | stylesheet_tag }}
  <div class="full-width">
    <div class="section-title">
      <h2>Meet The Team</h2>
      <p>Our leadership team has over 75 years of combined telecom experience in U.S. and global markets. Locally based, we leverage global resources to bring the best products and solutions to market. By successfully understanding customer priorities, consumer wants, and end-user needs we overcome challenges and barriers quickly. Our holistic approach focuses on exquisite design, world-class hardware components, and AI-based solutions.</p>
    </div>
  </div>
    <div data-aos="fade-right" data-aos-duration="3000" class="bio left accordion">
      <div class="full-width">
        <img src="{{ 'sam.png' | asset_url }}" alt="Sam Gutiérrez" class="image">
        <div id="bio-copy" class="copy">
          <h2>Sam Gutiérrez</h2>
          <h3>Chairman & CEO</h3>
          <div class="arrow bio-arrows">
            <span>Bio</span>
            <img class='bio-arrow visible' src='{{ 'bio-arrow-down.png' | asset_url }}' /> 
            <img class='bio-arrow-alt' src='{{ 'bio-arrow-up.png' | asset_url }}' /> 
          </div>
        </div>
      </div>
      <div class="text-accordion">
        <p>30 years of experience in mobile electronic technologies with strong knowledge in retail channels. For more than two decades, Sam has been devoted to the development, marketing, and sales of different consumer electronic devices. He is a consumer-focused, technology evangelist, and retail expert that has created and launched exciting products in different markets. His deep experience in mobile technologies, and solid understanding of the Asian ODM (original design manufacturer) ecosystem has enabled him to play a critical role in the launch and growth of Schok products. Sam passion for consumer satisfaction drives his commitment to bring to market a best-in-class smartphone portfolio that will disrupt the segments that Schok decides to compete.</p>
      </div>
    
    </div>
    <div data-aos="fade-left" data-aos-duration="3000" class="bio left accordion">
    <div class="full-width">
      <img src="{{ 'Philip.png' | asset_url }}" alt="Philip De la Vega" class="image">
      <div id="bio-copy" class="copy">
        <h2>Philip De la Vega</h2>
        <h3>President & COO</h3>
        <div class="arrow bio-arrows">
          <span>Bio</span>
          <img class='bio-arrow visible' src='{{ 'bio-arrow-down.png' | asset_url }}' /> 
          <img class='bio-arrow-alt' src='{{ 'bio-arrow-up.png' | asset_url }}' />
        </div>
      </div>
    </div>
      <div class="text-accordion">
        <p>Growth strategist, disruptor, and innovator with more than 25 years of experience with global 100 companies. Philip is a transformational executive who has led and scaled Fortune 100, as well as Private Equity companies, reaching billions of dollars in revenue. His extensive industry experience covers Mobile Technology, SaaS, On-line Education, and Consumer Electronics. He has managed hundreds of professionals in Sales, Marketing, Product development, Operations, and Finance. Most recently, he served as President of International Markets for an EdTech company, helping customers in their digital transformation journey. While at Nokia, he turned around and grew businesses to $800M, $1.2B and $3.5B. Prior to his general management and sales leadership responsibilities, he was division CFO for a $3.5B region covering over 20 markets.</p>
      </div>
    </div>
    <div data-aos="fade-right" data-aos-duration="3000" class="bio left accordion">
    <div class="full-width">
      <img src="{{ 'Jorge.png' | asset_url }}" alt="Jorge D. Azpe" class="image" data-aos-duration="3000">
      <div id="bio-copy" class="copy">
        <h2>Jorge D. Azpe</h2>
        <h3>Chief Financial Officer</h3>
        <div class="arrow bio-arrows">
          <span>Bio</span>
          <img class='bio-arrow visible' src='{{ 'bio-arrow-down.png' | asset_url }}' /> 
          <img class='bio-arrow-alt' src='{{ 'bio-arrow-up.png' | asset_url }}' />
        </div>
      </div>
    </div>
        <div class="text-accordion">
        <p>Seasoned finance expert, 30+years in CPG & financial services. Jorge’s experience includes corporate planning, regional and sales finance, and supply chain roles where he has been instrumental in providing strategic guidance to support profitable growth within the fast-moving CPG and financial services industries across the Americas, Middle East, Asia Pacific, and Spain. Held leadership positions with FEMSA, Cadbury Schweppes, Coca-Cola, Dr Pepper Snapple Group, and most recently MoneyGram International. Jorge’s background in strategy, value-based management, business analytics, budget process, and project evaluation has contributed to his global view and approach of “thinking globally and acting locally.”</p>
        </div>
      
    </div>
    <div data-aos="fade-left" data-aos-duration="3000" class="bio left accordion">
    <div class="full-width">
    <img src="{{ 'Lee.png' | asset_url }}" alt="Lee Ittner" class="image">
      <div id="bio-copy" class="copy">
        <h2>Lee Ittner</h2>
        <h3>Chief Sales Officer</h3>
        <div class="arrow bio-arrows">
          <span>Bio</span>
          <img class='bio-arrow visible' src='{{ 'bio-arrow-down.png' | asset_url }}' /> 
          <img class='bio-arrow-alt' src='{{ 'bio-arrow-up.png' | asset_url }}' />
        </div>
      </div>
    </div>
        <div class="text-accordion">
        <p>Global Sales and business development executive. Over the last two decades Lee has delivered sales growth for global companies such as Vingroup, HTC, HP, BrightStar and Kyocera. Lee is well known in the telecomm industry and his passion for business development coupled with his creativity for strategic sales have fueled highgrowth within North American carriers. Most recently, Lee as SVP of North America enabled the entry of Vingroup ($14B Market cap) into the U.S, securing a multi-million dollar contract with one of the top three largest mobile carriers.</p>
        </div>
      
    </div>

    <div data-aos="fade-right" data-aos-duration="3000" class="bio left accordion">
    <div class="full-width">
      <img src="{{ 't.png' | asset_url }}" alt="Jorge D. Azpe" class="image" data-aos-duration="3000">
      <div id="bio-copy" class="copy">
        <h2>Mike Harshbarger</h2>
        <h3>Chief Technology Officer</h3>
        <div class="arrow bio-arrows">
          <span>Bio</span>
          <img class='bio-arrow visible' src='{{ 'bio-arrow-down.png' | asset_url }}' /> 
          <img class='bio-arrow-alt' src='{{ 'bio-arrow-up.png' | asset_url }}' />
        </div>
      </div>
    </div>
        <div class="text-accordion">
        <p>Mike is a highly esteemed technical engineer with over 25 years of expertise in the electronics industry. Renowned for his pivotal role in leading Motorola’s Moto G series, he has consistently demonstrated exceptional technical prowess. Prior to joining Schok, Mike served as the Senior Technical Account Manager at Flextronics, overseeing tier A world carriers. His rich background encompasses a deep understanding of cutting-edge technologies as well as a track record of successful leadership. Mike’s wealth of experience makes him
a key asset to Schok, where he contributes invaluable insights and 
leadership that drives innovation and excellence in the dynamic realm of consumer electronics.</p>
        </div>
      
    </div>

    <div data-aos="fade-right" data-aos-duration="3000" class="bio left accordion">
    <div class="full-width">

    
    </div>
        
      
    </div>
    
  </section>
  </div>
  </div>
</div>
<script src="{{ 'aos.js' | asset_url }}"></script>
<script>
  AOS.init({
    // Global settings:
    disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
    startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
    initClassName: 'aos-init', // class applied after initialization
    animatedClassName: 'aos-animate', // class applied on animation
    useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
    disableMutationObserver: false, // disables automatic mutations' detections (advanced)
    debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
    throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


    // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
    offset: 120, // offset (in px) from the original trigger point
    delay: 0, // values from 0 to 3000, with step 50ms
    duration: 600, // values from 0 to 3000, with step 50ms
    easing: 'ease', // default easing for AOS animations
    once: false, // whether animation should happen only once - while scrolling down
    mirror: false, // whether elements should animate out while scrolling past them
    anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
  });



  // Script for expanding the answer to each question
var accordions = document.querySelectorAll('.accordion');
var accordionsArray = [...accordions];

// Trying to target arrows
var arrows = document.querySelectorAll('.bio-arrow');
var arrowsAlt = document.querySelectorAll('.bio-arrow-alt');
var arrowsArray = [...arrows];
var arrowsAltArray = [...arrowsAlt];



accordionsArray.forEach((q, index) => {
    q.addEventListener("click", () => {
        if (q.classList.contains('expanded')) {
            q.classList.remove('expanded')
            arrowsAltArray[index].classList.remove("visible")
            arrowsArray[index].classList.add('visible')
        } else {
            q.classList.add('expanded')
            arrowsArray[index].classList.remove('visible')
            arrowsAltArray[index].classList.add('visible')
        }
    });

   
    console.log(accordionsArray)
})
</script>