<section id="section-1">
      <div class="set flex">
      <div class="col">
          <img src="{{ 'schok-classic-blue-main-3.png' | asset_url }}" alt="Schok Classic front angled" class="featured" data-aos="fade-right" data-aos-duration="3000">
        </div>
        <div class="col">
          <img src="{{ 'schok-classic-logo-white-v2.png' | asset_url }}" alt="Schok Classic logo" class="classic-logo" data-aos="fade-in" data-aos-duration="3000">
          <h2>The most advanced flip phone in its class.</h2> 
          <a href="#quick-start-guide" class="button">Quick Start Guide</a>&nbsp;
          <a href="/collections/devices/products/schok-classic-flip-phone-4g-lte" class="button">Buy Now</a>
        </div>
        
      </div>
    </section>

    <section id="section-2">
      <div class="set flex">
        <div class="col">
          <h2>Modern Minimalism</h2>
          <p>The Schok <strong>classic</strong> is made for consumers who enjoy life without complications while still wanting to remain connected at all times. This traditional, easy-to-use flip phone, created with the newest hardware and software features provides users with the best of both worlds.</p>
          <a href="/collections/devices/products/schok-classic-flip-phone-4g-lte" class="button">Buy Now</a>
        </div>
        <div class="col" data-aos="fade-up" data-aos-duration="3000">
          <img src="{{ 'schok-classic-main-cherry.png' | asset_url }}" alt="Schok Classic front" class="featured">
        </div>
      </div>
    </section>

    <section id="section-3">
      <div class="set flex">
        <div class="col">
          <div class="text">
            <h2>Biggest, Brightest Display</h2>
            <p>Compared to other flip-phones, Schok <strong>classic</strong> provides 62x more colors than other flip-phones in its segment. The display is bright enough to be visible even in direct sunlight. This phone literally "outshines" the competition.</p>
          </div>
          <img src="{{ 'schok-classic-open-2Xpixels.png' | asset_url }}" alt="Schok Classic open" class="featured" data-aos="fade-right" data-aos-duration="1500">
        </div>
        <div class="col">
          <div class="text">
            <h2>Awesome Camera</h2>
            <p>The camera system of traditional flip-phones have low resolution and no auto-focus, which results in low-quality images. Schok <strong>classic</strong> offers 4x greater resolution, auto-focus, and a flash to deliver clear, vibrant photographs in any light.</p>
          </div>
          <img src="{{ 'schok-classic-red-front.png' | asset_url }}" alt="Schok Classic in red" class="featured" data-aos="fade-up" data-aos-duration="1500">
        </div>
        <div class="col">
          <div class="image-set">
              <img src="{{ 'schok-classic-open-showing-numpad.png' | asset_url }}" alt="Schok Classic open and closed" class="featured" data-aos="fade-down" data-aos-duration="1500">
            </div>
            <div class="text">
              <h2>Bigger. Stronger.</h2>
              <p>The Schok <strong>classic</strong> is the perfect size for one-hand operation. Its oversized, backlit keypad makes the phone easy to read and use in all levels of light. The built-in diagonal texture on the back cover helps prevent accidental drops.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="section-4">
      <div id="quick-start-guide" class="set flex">
        <div class="col">
          <h2>Quick Start Guide</h2>
          <p>We've created this quick start video to help you with the Schok <strong>classic</strong> initial setup. If you have any additional questions, please call our customer service team at <strong>1-888-48-SCHOK.</strong> We'd love to hear from you!</p>
          <div class="pdf flex">
            <a href="https://cdn.shopify.com/s/files/1/1527/1793/files/Schok-Classic-Manual-Side-A-and-Side-B.pdf?v=1658762760" target="_blank">
              <img src="{{ 'pdf-icon.png' | asset_url }}" alt="PDF icon" class="featured">
            </a>
            <p><a href="https://cdn.shopify.com/s/files/1/1527/1793/files/Schok-Classic-Manual-Side-A-and-Side-B.pdf?v=1658762760" target="_blank">Download User's Manual</a></p>
          </div>
          <a style="display: none;" class="faq-link" href="faq.php">> Schok Classic FAQs</a>
        </div>
        <div class="col">
          <div class='embed-container'>
            <video width="100%" controls>
              <source src="https://cdn.shopify.com/videos/c/o/v/09831a8f5e814162820df7e2ecc862a9.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </section>

    <section id="section-5">
      <div class="set flex">
        <div class="col">
          <img src="{{ 'schok-classic-powerful-amp.png' | asset_url }}" alt="Schok Classic open" class="featured" data-aos="fade-down" data-aos-duration="1500">
          <div class="text">
            <h2>Loud and Clear</h2>
            <p>A built-in powerful 1.2W amplifier plus HAC T4/M4 makes it easier to hear phone conversations. If music is what you love, Schok <strong>classic</strong> is the world’s first flip-phone in its class with ample power to deliver an amazing audio experience.</p>
          </div>
        </div>
        <div class="col">
          <div class="text">
            <h2>Fully-Loaded Flip phone</h2>
            <p>As part of delivering the most amazing user experience, Schok <strong>classic</strong> comes with the best premium accessory bundle in its class. Everything is included!</p>
          </div>
          <img src="{{ 'schok-classic-bundle-2.png' | asset_url }}" alt="Schok Classic with charging dock" class="featured" data-aos="fade-up" data-aos-duration="1500">
        </div>
        <div class="col">
          <div class="image-set">
              <img src="{{ 'schok-classic-all-day-battery-2.png' | asset_url }}" alt="Schok Classic black side view" class="featured" data-aos="fade-left" data-aos-duration="1500">
          </div>
          <div class="text">
            <h2>Long Lasting Battery</h2>
            <p>At 1,650mAh, it has one of the highest capacity batteries ever placed in a flip-phone and provides up to two full days of operation. Schok <strong>classic</strong> comes with a charging dock station that makes recharging your phone simple and convenient.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="section-6">
      <div class="set flex">
        <div class="col">
          <h2>What's in the Box?</h2>
          <p>The Schok <strong>classic</strong> comes with the following accessories:</p>
          <div class="box-items">
            <div class="item">
              <img src="{{ 'symbol-flip-phone.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
              Schok Classic<br />
              4G/LTE flip phone
            </div>
            <div class="item">
              <img src="{{ 'symbol-covers-2.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
              2 Different<br />
              Colorful Covers
            </div>
            <div class="item">
              <img src="{{ 'symbol-long-cable.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
              Premium Extra Long<br />
              USB Type-C™ Cable
            </div>
            <div class="item">
              <img src="{{ 'symbol-braided-headset.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
              Premium Braided<br />
              Hands-Free Headset
            </div>
            <div class="item">
              <img src="{{ 'symbol-charging-dock.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
              Charging Dock<br />
              Station
            </div>
            <div class="item">
              <img src="{{ 'symbol-battery.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
              1,650 mAh Lithium<br />
              Rechargeable Battery
            </div>
            <div class="item">
              <img src="{{ 'symbol-limited-warranty.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
              Warranty<br />
              (opt ext-warranty available)
            </div>
            <div class="item">
              <img src="{{ 'symbol-wall-charger.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
              Wall<br />
              Charger
            </div>
            <div class="item">
              <img src="{{ 'symbol-quick-start-manual.png' | asset_url }}" alt="Schok Classic 4G/LTE flip phone" data-aos="zoom-in" data-aos-duration="500">
              Quick<br />
              User Manual
            </div>
          </div>
        </div>
        <div class="col">
          <img src="{{ '4G-LTE-fully-capable.png' | asset_url }}" alt="Schok Classic is 4G/LTE full capable" class="call-out">
          <div class="phone-array">
            <img src="{{ 'schok-classic-blue-2.png' | asset_url }}" alt="Schok Classic in blue" class="featured blue" data-aos="fade-left" data-aos-duration="1000">
            <img src="{{ 'schok-classic-main-cherry.png' | asset_url }}" alt="Schok Classic in black" class="featured black" data-aos="fade-left" data-aos-duration="2000">
          </div>
        </div>
      </div>
    </section>

    <section id="section-7">
      <div class="set flex">
        <div class="col first">
          <img src="{{ 'schok-classic-logo-white.png' | asset_url }}" alt="Schok Classic logo" class="classic-logo" data-aos="fade-in" data-aos-duration="3000">
          <h3>Best-in-Class Features</h3>
          <div class="feature-set" data-aos="zoom-in" data-aos-duration="1000">
            <div class="item">
              <div class="text">Verizon Certified</div>
              <div class="text">Yes</div>
            </div>
            <div class="item">
              <div class="text">Display size (Internal)</div>
              <div class="text flag">3.2" with 16 Million colors</div>
            </div>
            <div class="item">
              <div class="text">Display resolution (Internal)</div>
              <div class="text flag">WVGA = 480 x 800 pixels</div>
            </div>
            <div class="item">
              <div class="text">Display size (External)</div>
              <div class="text flag">2" color</div>
            </div>
            <div class="item">
              <div class="text">Rear Camera (MegaPixels)</div>
              <div class="text flag">8MP + Flash + AF</div>
            </div>
            <div class="item">
              <div class="text">Selfie Camera (MegaPixels)</div>
              <div class="text flag">Main camera as selfie w/viewer</div>
            </div>
            <div class="item">
              <div class="text">Flashlight (Torch)</div>
              <div class="text">Yes</div>
            </div>
            <div class="item">
              <div class="text">Device operating system</div>
              <div class="text">Android</div>
            </div>
            <div class="item">
              <div class="text">Chipset (SoC)</div>
              <div class="text flag">Qualcomm MSM8909</div>
            </div>
            <div class="item">
              <div class="text">Number of Cores & Speed in MHz</div>
              <div class="text flag">(Quad-Core) 1.1MHz</div>
            </div>
            <div class="item">
              <div class="text">Graphic card (GPU)</div>
              <div class="text flag">Adreno 304 @456MHz</div>
            </div>
            <div class="item">
              <div class="text">RAM (DDR3)</div>
              <div class="text">1GB</div>
            </div>
            <div class="item">
              <div class="text">User Memory</div>
              <div class="text">8GB</div>
            </div>
            <div class="item">
              <div class="text">SD Card</div>
              <div class="text">32GB</div>
            </div>
            <div class="item">
              <div class="text">Battery size</div>
              <div class="text">1,650mAh</div>
            </div>
            <div class="item">
              <div class="text">USB</div>
              <div class="text">Type-C connector</div>
            </div>
            <div class="item">
              <div class="text">Keyboard backlight</div>
              <div class="text">Yes</div>
            </div>
            <div class="item">
              <div class="text">WiFi</div>
              <div class="text">Yes (Certified)</div>
            </div>
            <div class="item">
              <div class="text">GPS</div>
              <div class="text">Yes</div>
            </div>
            <div class="item">
              <div class="text">Bluetooth</div>
              <div class="text">Yes 4.2 (Certified)</div>
            </div>
            <div class="item">
              <div class="text">Radio FM</div>
              <div class="text flag">Yes</div>
            </div>
            <div class="item">
              <div class="text">Vibration function</div>
              <div class="text flag">Yes</div>
            </div>
            <div class="item">
              <div class="text">3.5mm headphone jack</div>
              <div class="text">Yes</div> 
            </div>
            <div class="item">
              <div class="text">Speakerphone</div>
              <div class="text">Yes 1.2W</div>
            </div>
            <div class="item">
              <div class="text">Hearing Aid compatibility</div>
              <div class="text">M4/T4</div>
            </div>
            <div class="item">
              <div class="text">Cursor control</div>
              <div class="text flag">World's first virtual mouse</div>
            </div>
            <div class="item">
              <div class="text">Better quality bundle</div>
              <div class="text flag">Yes</div>
            </div>
            <div class="item">
              <div class="text">Patented anti-slip case</div>
              <div class="text">Yes, better grip, less drops</div>
            </div>
            <div class="item">
              <div class="text">Number of Microphones</div>
              <div class="text">2</div>
            </div>
            <div class="item">
              <div class="text">Bundle includes</div>
              <div class="text">Dock Station, braided cables, 2 colorful covers</div>
            </div>
            <div class="item">
              <div class="text">Compatible Carriers</div>
              <div class="text">AT&amp;T, T-Mobile, Cricket, Consumer Cellular, and Verizon</div>
            </div>
          </div>
          <!-- <p class="note">Note: Comparison versus Alcatel GO FLIP and Nokia 2720 Flip. Reviewed on February 18, 2020. Alcatel is a registered trademark of TCL communication LTD. Nokia is a registered trademark of Nokia Corporation.</p> -->
        </div>
        <div class="col">
          <div class="image-set">
            <img src="{{ 'schok-classic-side.png' | asset_url }}" alt="Schok Classic side" class="phone-view-1" data-aos="fade-left" data-aos-duration="1000">
            <img src="{{ 'schok-classic-blue-2.png' | asset_url }}" alt="Schok Classic front" class="phone-view-2" data-aos="fade-left" data-aos-duration="2000">
            <img src="{{ 'schok-classic-open-full.png' | asset_url }}" alt="Schok Classic open" class="phone-view-3" data-aos="fade-left" data-aos-duration="3000">
          </div>
        </div>
      </div>
    </section>
    <section id="section-8">
  <div class="set">

    
    <!-- <div class='section-title' style="background-color: #F2F2F2; margin: auto;">
      <h2>Schok's Commercial Partners</h2>
    </div> -->
    <div class="box-items">
          
    <div class='section-title' style="width: 100%">
      <h2>Compatible With These Networks and MVNOs</h2>
    </div>
      <div class="item">
        <img src="{{ 'T-Mobile-bw.png' | asset_url }}" alt="Mobile" data-aos="zoom-in" data-aos-duration="500">
      </div>
      <div class="item">
        <img src="{{ 'ATT-bw.png' | asset_url }}" alt="ATT" data-aos="zoom-in" data-aos-duration="500">
      </div>
      <div class="item">
        <img src="{{ 'Verizon-bw.png' | asset_url }}" alt="Verizon" data-aos="zoom-in" data-aos-duration="500">
      </div>
      <div class="item">
        <img src="{{ 'simple-mobile-bw.png' | asset_url }}" alt="Simple Mobile" data-aos="zoom-in" data-aos-duration="500">
      </div>
      <div class="item">
        <img src="{{ 'h20wireless-bw.png' | asset_url }}" alt="GroupH" data-aos="zoom-in" data-aos-duration="500">
      </div>
      <div class="item">
        <img src="{{ 'gophone-b.png' | asset_url }}" alt="Go Phone" data-aos="zoom-in" data-aos-duration="500">
      </div>
      <div class="item">
        <img src="{{ 'Net10-bw.png' | asset_url }}" alt="Net10B" data-aos="zoom-in" data-aos-duration="500">
      </div>
      <div class="item">
        <img src="{{ 'telcel.png' | asset_url }}" alt="Telcel" data-aos="zoom-in" data-aos-duration="500">
      </div>
      <div class="item">
        <img src="{{ 'att-mexico.png' | asset_url }}" alt="AT&T Mexico" data-aos="zoom-in" data-aos-duration="500">
      </div>
      <div class="item">
        <img src="{{ 'movistar.png' | asset_url }}" alt="Movistar" data-aos="zoom-in" data-aos-duration="500">
      </div>
    </div>
  </div>
</section>
    <script src="{{ 'aos.js' | asset_url }}"></script>
    <script>
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 120, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 600, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
      });
    </script>